In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('covid19_italy_region.csv')
df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6023,6023,2020-12-06T17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0
6024,6024,2020-12-06T17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0
6025,6025,2020-12-06T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [5]:
df.value_counts()

SNo   Date                 Country  RegionCode  RegionName             Latitude   Longitude  HospitalizedPatients  IntensiveCarePatients  TotalHospitalizedPatients  HomeConfinement  CurrentPositiveCases  NewPositiveCases  Recovered  Deaths  TotalPositiveCases  TestsPerformed
1155  2020-04-19T17:00:00  ITA      13          Abruzzo                42.351222  13.398438  317                   40                     357                        1630             1987                  34                276        258     2521                22424.0           1
4400  2020-09-20T17:00:00  ITA      21          P.A. Bolzano           46.499335  11.356624  15                    2                      17                         405              422                   20                2587       292     3301                85316.0           1
4407  2020-09-20T17:00:00  ITA      10          Umbria                 43.106758  12.388247  29                    4                      33                         452              485                   24                1648       83      2216                113041.0          1
4406  2020-09-20T17:00:00  ITA      9           Toscana                43.769231  11.255889  86                    23                     109                        2847             2956                  147               9704       1152    13812               455978.0          1
4405  2020-09-20T17:00:00  ITA      19          Sicilia                38.115697  13.362357  194                   13                     207                        2109             2316                  116               3350       296     5962                321168.0          1
                                                                                                                                                                                                                                                                                      ..
2778  2020-07-05T17:00:00  ITA      12          Lazio                  41.892770  12.483667  199                   11                     210                        651              861                   14                6484       841     8186                287673.0          1
2777  2020-07-05T17:00:00  ITA      6           Friuli Venezia Giulia  45.649435  13.768136  7                     0                      7                          66               73                    0                 2908       345     3326                109389.0          1
2776  2020-07-05T17:00:00  ITA      8           Emilia-Romagna         44.494367  11.341721  88                    9                      97                         932              1029                  24                23340      4268    28637               309970.0          1
2775  2020-07-05T17:00:00  ITA      15          Campania               40.839566  14.250850  36                    0                      36                         165              201                   5                 4086       432     4719                144281.0          1
6026  2020-12-06T17:00:00  ITA      5           Veneto                 45.434905  12.338452  2508                  308                    2816                       73988            76804                 3444              84235      4210    165249              1090932.0         1
Length: 4872, dtype: int64

In [10]:
df1 = df.drop(['Date', 'SNo'], axis='columns')

df1

,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6023,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0
6024,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0
6025,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0
6026,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0